{% extends "base.html" %}

{% load static %}

{% block title %}
Create booking
{% endblock %}


{% block content %}


<section class="booking-create-page">

    <div 
        id="propertyId"
        data-id="{{ property_id }}">
    </div>

    <div class="booking-create-card">

        <div id="propertyContainer">
            <div class="text-center text-secondary">
                Loading...
            </div>
        </div>

    </div>

</section>


{% endblock %}



{% block scripts %}

<script src="{% static 'js/bookings.js' %}"></script>

{% endblock %}