body{
    background:#0f172a;
    color:#f8fafc;
}

.navbar-custom{
    background:#16213e;
}

.card{
    background:#1e293b;
    border:none;
    color:white;
}

.btn-primary{
    background:#2563eb;
    border:none;
}

.btn-primary:hover{
    background:#1d4ed8;
}

.form-control,
.form-select{
    background:#334155;
    color:white;
    border:1px solid #475569;
}

.form-control:focus,
.form-select:focus{
    background:#334155;
    color:white;
}

a{
    color:#60a5fa;
}

.table{
    color:white;
}