{% extends "base.html" %}

{% block title %}
Landlord Cabinet
{% endblock %}


{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>
        My Cabinet
    </h1>

    <a
        href="/properties/create/"
        class="btn btn-primary">

        Create property

    </a>
</div>


<div class="mb-5">

    <h2 class="mb-3">
        My Properties
    </h2>

    <div id="properties"
         class="row g-4">
    </div>

</div>



<div>

    <h2 class="mb-3">
        Booking Requests
    </h2>


    <div id="bookings"
         class="row g-4">
    </div>


</div>


{% endblock %}



{% block scripts %}

<script>

async function checkLandlordAccess(){

    const response = await fetch(
        "/api/users/profile/",
        {
            credentials:"include"
        }
    );


    if(!response.ok){

        window.location = "/";

        return;

    }


    const user = await response.json();


    if(user.role !== "landlord"){

        window.location = "/";

        return;

    }


    loadProperties();
    loadBookings();

}


async function loadProperties(){

    const response = await fetch(
        "/api/properties/",
        {
            credentials:"include"
        }
    );


    const properties = await response.json();


    const container =
        document.getElementById("properties");


    container.innerHTML="";


    properties.forEach(property=>{

        container.innerHTML += `

        <div class="col-md-6 col-lg-4">

            <div class="property-card p-3">

                <h3>
                    ${property.title}
                </h3>

                <p>
                    ${property.location}
                </p>

                <p>
                    ${property.price_per_night} €/night
                </p>

                <span class="badge bg-${
                    property.is_active
                    ? "success"
                    : "secondary"
                }">

                    ${
                    property.is_active
                    ? "Active"
                    : "Inactive"
                    }

                </span>

                <button
                class="btn btn-primary mt-3"
                onclick="toggleProperty(${property.id})">

                    ${
                    property.is_active
                    ? "Deactivate"
                    : "Activate"
                    }

                </button>

                <a
                    href="/properties/edit/${property.id}/"
                    class="btn btn-secondary mt-3">

                    Edit

                </a>

            </div>

        </div>

        `;

    });

}


async function toggleProperty(id){

    const response = await fetch(

        `/api/properties/${id}/toggle_active/`,

        {
            method:"PATCH",
            credentials:"include"
        }

    );


    if(response.ok){

        loadProperties();

    }

}


async function loadBookings(){

    const response = await fetch(

        "/api/bookings/",

        {
            credentials:"include"
        }

    );


    const bookings =
        await response.json();


    const container =
        document.getElementById("bookings");


    container.innerHTML="";


    bookings.forEach(booking=>{

        container.innerHTML += `

        <div class="col-md-6">

            <div class="property-card p-3">

                <h4>
                    ${booking.property_detail.title}
                </h4>

                <p>
                    Tenant:
                    ${booking.tenant_username}
                </p>

                <p>
                    ${booking.start_date}
                    -
                    ${booking.end_date}
                </p>

                <p>
                    Nights:
                    ${booking.nights}
                </p>

                <p>
                    Price:
                    ${booking.booking_price} €
                </p>

                <p>
                    Status:
                    ${booking.status}
                </p>

                ${
                booking.status === "pending"

                ?

                `

                <button
                class="btn btn-success"
                onclick="approveBooking(${booking.id})">

                    Approve

                </button>


                <button
                class="btn btn-danger"
                onclick="rejectBooking(${booking.id})">

                    Reject

                </button>

                `

                :

                ""

                }

            </div>

        </div>

        `;

    });

}


async function approveBooking(id){

    const response = await fetch(

        `/api/bookings/${id}/approve/`,

        {
            method:"PATCH",
            credentials:"include"
        }

    );


    if(response.ok){

        loadBookings();

    }
    else{

        alert(
            JSON.stringify(
                await response.json()
            )
        );

    }

}


async function rejectBooking(id){

    const response = await fetch(

        `/api/bookings/${id}/reject/`,

        {
            method:"PATCH",
            credentials:"include"
        }

    );


    if(response.ok){

        loadBookings();

    }
    else{

        alert(
            JSON.stringify(
                await response.json()
            )
        );

    }

}


checkLandlordAccess();

</script>

{% endblock %}