{% extends "base.html" %}


{% block title %}
Properties
{% endblock %}


{% block content %}


<h2 class="mb-4">
    Available properties
</h2>


<a 
    href="/properties/create/"
    id="createButton"
    class="btn btn-primary mb-3 d-none">

    Create property

</a>


<div id="properties"
    class="row g-4">

</div>

<div id="propertyModal" class="property-modal">

    <div class="property-modal-content">

        <button id="closeModal"
        class="btn-close"></button>


        <div id="modalContent">

        </div>


    </div>

</div>


{% endblock %}


{% block scripts %}

<script src="/static/js/properties.js"></script>

{% endblock %}